table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}
.row-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    /* justify-content: center; */
}
.fifty{
    width: 50%;
}

.data-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}